a:not([class]){
  background-image: none;
}

a:not([class]):hover{
  text-decoration: none;
}

.page-content a {
  text-decoration: underline;
}

.site-title {
  font-size: 20px !important;
}

.navigation-list-link a:hover{
  text-decoration: underline;
}
